@import "color.css";
@import "header.css";
@import "common_body.css";
@import "footer.css";
article {
    margin: 0;
    background-color: var(--background_color_two);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rome_blog_1_h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 0 5.625rem 0;
    font-weight: 300;
    color: var(--text_color_three);
}

.time_id {
    text-align: center;
    color: var(--text_color_one);
}

#rome_grid_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.75rem 0.75rem;
    padding: 1.325rem;
}

.rome_grid_container_p {
    display: block;
    padding: 1.325rem;
}

.rome_grid_container_2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2.5rem auto;
    padding: 1.325rem;
}

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background_color_three);
    flex-wrap: wrap;
    padding: 1.325rem;
}

.author-info-img {
    width: 100%;
    height: auto;
    min-width: 5.25rem;
    max-width: 12.5rem;
}

.rome-img {
    width: 100%;
    height: auto;
}

@media(min-width: 1200px) {
    .rome_grid_container_2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.75rem;
        margin: 2.5rem auto;
        padding: 1.325rem;
    }
}

@media(min-width: 1200px) {
    .rome_grid_container_p {
        display: block;
    }
}

